@import './filters';

#mainContainer {
  position: relative;

  i {
    $init-bottom: 10px;
    $init-left: 10px;
    $height: 30px;
    $separation: 10px;
    $width: 30px;

    background-color: #e0dad6;
    border: 2px solid #e0dad3;
    border-radius: 100%;
    height: $height;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    width: $width;

    &.fa-play,
    &.fa-stop {
      bottom: $init-bottom;
      left: $init-left;
    }

    &.fa-microphone,
    &.fa-microphone-slash {
      bottom: $init-bottom;
      left: $init-left + $height + $separation;
    }
  }
}
